/* CSS Document */
body{
			
	background: #EEB76B;
}



/*首页盒子*/
.Page_content{

	border-radius:15px;
	width: 1400px;
	height: 760px;
	position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;    /*  居中实现：https://www.cnblogs.com/sapho/p/5787381.html*/
	
	
	background: url("../img/page/cultural_back.jpg") ;
	background-size: contain;		
	filter: alpha(opacity=50);

	-moz-opacity: 0.9;
	opacity: 0.9;

}

.Content1{
	width: 100%;
	height: 100%;
	background-color: rgb(248, 248, 248,0.15);
	border-radius: 10px;
}
.title{
	width: 100%;
	height: 10%;
	padding-top: 40px;
}
.title  h3{
	margin: 0px;
		color: #E2703A;
	line-height: 50px;
	margin:auto;  
	text-align: center;
	font-size: 50px;
	line-height: 100%;
font-family: 宋体;
}

.header {
	height: 9%;
}
.header ul{
	text-align: center;
	height: 100%;
	line-height: 100%;
	margin: 0px;
	padding: 0;
	list-style-type:none;
}

.header ul li{

	float: left;
	width: 50%;
	height: 100%;
	line-height: 100%;
	border-radius: 10px;
	background-color:rgb(106, 126, 252,0.6);
	cursor: pointer;
	font-family: 宋体;


}

.header ul h3{
	height: 100%;
	line-height: 180%;

	font-size: 36px;
	margin: auto 0

	
}
.header ul li:hover{

	
	background-color:rgb(106, 126, 252,0.85);



}
.header ul h3:hover{
	transform: scale(1.25);transition: all 0.45s;
}


#lishiqiyuan{
	left: 1.25%;
	position: absolute;
height: 62%;

	background-color: rgb(216, 233, 240,0.75);
	width: 97.5%;
	margin: 0  auto;
	margin-top: 1.5%;
	border-radius: 17px;

}

#lishiqiyuan h3{
text-align: center;
margin: 0;
font-size: 27px;
}
#lishiqiyuan h4{
	line-height: 200%;
	text-align: left;
	font-size: 20px;
	overflow-y: scroll;
	height: 92%;
	font-size: 20px;
}
#yinchu{
	margin-bottom:0 ;
	margin-top: 0;
}
#neirong{
margin-top: 0 ;
}

#neirong_end{
	height: 135px;
}





#lishifazhan{
	left: 1.25%;
	position: absolute;
height: 62%;
	display: none;
	background-color: rgb(216, 233, 240,0.75);
	width: 97.5%;
	margin: 0  auto;
	margin-top: 1.5%;
	border-radius: 17px;

}

#lishifazhan h3{
text-align: center;
margin: 0;
font-size: 27px;
}

#lishifazhan h4{
	line-height: 200%;
	text-align: left;
	font-size: 20px;
	overflow-y: scroll;
	height: 92%;
	font-size: 20px;
}

#yinchu{
	margin-bottom:0 ;
	margin-top: 0;
}

#neirong{
margin-top: 0 ;
}





.footer {
	height: 69px;
	width: 100%;
	position: absolute;	
	bottom: 0;
	left: 0;

}
.footer ul{
	text-align: center;
	height: 100%;
	line-height: 100%;
	margin: 0px;
	padding: 0;
	list-style-type:none;
}

.footer ul li{

	float: left;
	width: 33.3333333%;
	height: 100%;
	line-height: 100%;
	border-radius: 10px;
	background-color:rgb(106, 126, 252,0.6);
	cursor: pointer;
	font-family: 宋体;
}

.footer ul h3{
	height: 100%;
	line-height: 180%;
	font-size: 36px;
	margin: auto 0
}
.footer ul li:hover{
	background-color:rgb(106, 126, 252,0.85);
}
.footer ul h3:hover{
	transform: scale(1.25);transition: all 0.45s;
}