/* CSS Document */
body{
			
	background: #EEB76B;
}



/*首页盒子*/
.Home_content{
	border-radius:15px;
	width: 1400px;
	height: 760px;
	position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;     /*  居中实现：https://www.cnblogs.com/sapho/p/5787381.html*/
	background: url("../img/home/back_HomePage.png") ;
	background-size: contain;		
}



/*标题盒子*/
.Home_Title{
	position: absolute;
	left: 215px;
	top: 95px;
	width: 493px;


}



/*首页标题中文*/
.title_1 h3{
	font-size: 68px;
	font-family:宋体 ;
	color: #E2703A;
	text-shadow:#000 3px 2px 1px;
    
    margin-top: 0px;
    margin-bottom: 0px;
}
/*首页标题英文*/
.title_2 {
	font-size: 15px;
    font-family:宋体 ;
	color: #E2703A;
	text-shadow:#000 1px 1px 1px;
margin-top: 0px;
    margin-bottom: 0px;
}




/*开始盒子*/
.Home_Start{
	border: 1px solid #310B0b;
	border-radius:10px;
	position: absolute;
	width: 660px;
	height: 295px;
	left: 115px;
	top: 325px;
	
	background: rgb(238, 183, 107,0.3);
	
}


.question{
	position: absolute;
	left: 114px;
	top: 30px;
	width: 450px;
	font-size: 24px;
	color: #310B0b;
	font-family: "华文隶书";
}



/*开始文字*/
.Start{
	position: absolute;
	left: 305px;
	top: 194px;
	width: 250px;
	height: 39.22px;
	background: url("../img/home/start_start.png");
	background-size: contain;
	cursor: pointer;
　　
		
}

.Start:hover{
	transform: scale(1.4);transition: all 0.35s;
}





/*继续窗口*/
.homepage_ontinue{
	position: absolute;
	left: 368px;
	top: 194px;
	width: 200px;
	height: 39.22px;
	background: url("../img/home/HomePage_Continue.png");
	background-size: contain;
	cursor: pointer;
　　
		
}
.homepage_ontinue:hover{
	transform: scale(1.4);transition: all 0.35s;
}




/*返回窗口*/
.homepage_return{
	position: absolute;
	left: 99px;
	top: 194px;
	width: 170px;
	height: 39.22px;
	background: url("../img/home/HomePage_return.png");
	background-size: contain;
	cursor: pointer;	
}
.homepage_return:hover{
	transform: scale(1.4);transition: all 0.6s;
}